@font-face {
  font-family: "Onest";
  font-weight: 400;
  src: url("../fonts/OnestRegular.woff");
}

@font-face {
  font-family: "Onest";
  font-weight: 700;
  src: url("../fonts/OnestBold.woff");
}

@font-face {
  font-family: "Onest";
  font-weight: 300;
  src: url("../fonts/OnestLight.woff");
}

@font-face {
  font-family: "Onest";
  font-weight: 200;
  src: url("../fonts/OnestThin.woff");
}